@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Prompt:wght@300&family=Whisper&family=Oswald&family=Varela+Round&display=swap');


/* home page style */
.quoteContainer{
    display: flex;
    justify-content: center;
    background-color: black;
    margin: 0;
}

.quote{
    /* border: 2px solid red; */
    color: white;
    height: 300px;
    width: 1024px;
    text-align: center;
    background-image: url(../../resources/runner2.jpg);
    font-family: 'Prompt', sans-serif;
}

.descriptionContainer{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
}

.description{
    margin: 1.5em;
    width: 1024px;
    text-align: center;
    color: grey;
    font-family: 'Varela Round';
}

.stepsContainer{
    display: flex;
    justify-content: center;
}

.step{
    color: grey;
    text-align: center;
    margin-left: 2.5em;
    margin-right: 2.5em;
    font-family: 'Varela Round';
}

.stepTitle{
    font-family: 'Oswald';
}

.icons{
    font-size: 3.5em;
}

.main{
    border:2px solid lightgray;
    background-color: lightgray;
    display:flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.mainSub{
    width: 20%;
    /* border: 2px dotted green; */
    margin-left: 1em;
    margin-right: 1em;
    font-family: 'Oswald';
    text-align: center;
    color: black;
}

.workoutSelContainer{
    display: flex;
    justify-content: center;
}

.workoutSel{
    /* border: 2px solid black; */
    border-radius: 5px;
    width: 70%;
    margin-top: 1em;
    margin-bottom: 1em;
    font-family: 'Varela Round';
    color: white;
    background-color: black;
}

.workoutSel:hover{
    cursor: pointer;
    color: aquamarine;
    transition: 250ms;
}

.exercise{
    font-family: 'Varela Round';
}

.startWorkoutContainer{
    display: flex;
    justify-content: center;
    margin: 1em;
    font-family: 'Oswald';
}

.linkAddExercise{
    color:black;
    text-decoration: none;
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.linkAddExercise:hover{
    color: crimson;
    transition: 250ms;
}

.linkEnableStartExercise{
    color: black;
    text-decoration: none;
    font-size: 2em;
}

.linkEnableStartExercise:hover{
    cursor: pointer;
    color: crimson;
    transition: 250ms;
}

.linkDisableStartExercise{
    color: lightgray;
    text-decoration: none;
    font-size: 2em;
}

.linkDisableStartExercise:hover{
    cursor: not-allowed;
}

.linkDisabledContainer{
    display: block;
    text-align: center;
}

.linkEnabledContainer{
    display: block;
    text-align: center;
}

.linkEnabledContainer:hover .dumbbellEnabled{
    color: crimson;
    transform: rotate(360deg);
    transition: 500ms;
}

.linkEnabledContainer:hover .linkEnableStartExercise{
    color: crimson;
    transition: 500ms;
}

.dumbbellEnabled{
    margin-top: 0.25em;
    margin-right: 0.2em;
    font-size: 2em;
    color: black;
}

.dumbbellDisabled{
    margin-top: 0.25em;
    margin-right: 0.2em;
    font-size: 2em;
    color: lightgray;
}