.workoutSet{
    border: 2px dotted red;
    text-align: center;
}

.workoutContainer{
    border: 2px dashed blue;
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.workoutExercise{
    border: 2px solid grey;
    margin-left: 1em;
    margin-right: 1em;
}

.workoutTimer{
    display: flex;
    border: 2px solid grey;
    margin-left: 1em;
    margin-right: 1em;
}

.startWorkoutContainer{
    display: flex;
    border: 2px solid gold;
    justify-content: center;
}